<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295394640681-11ooni3bnae13keab8drcrgdbv6lbvp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295394640681-11ooni3bnae13keab8drcrgdbv6lbvp8</string>
	<key>API_KEY</key>
	<string>AIzaSyDJfx_4Zp7iijyhq6RkTcRGWp6LQI0ual0</string>
	<key>GCM_SENDER_ID</key>
	<string>295394640681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sufnatech.FinishThisApp</string>
	<key>PROJECT_ID</key>
	<string>finishthisapp-79473</string>
	<key>STORAGE_BUCKET</key>
	<string>finishthisapp-79473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295394640681:ios:8f5fe745f0bfadb788ed38</string>
	<key>DATABASE_URL</key>
	<string>https://finishthisapp-79473.firebaseio.com</string>
</dict>
</plist>